* {
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    margin: 0 auto;
    width: 425px;
    height: 520px;
    padding: 45px 40px 0 40px;
    font-family: $mainFont;
    font-size: $imputFontSize;
    font-weight: 400;
    background-color: $containerColor;
    &__header {
        color: $lightGrey;
        font-size: $mainFontSize;
        margin-top: 0;
        margin-bottom: 16px;
        &_bold {
            color: $grey;
            width: 600;
        }
    }
    &__form {
        background-color: $white;
        width: 340px;
        height: 350px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
        background-color: #ffffff;
        border-radius: 5px;
        padding: 28px 0 0 28px;
    }
    &__input {
        height: 35px;
        @include inputField;
        @include placeholder;
        margin-bottom: 15px;
        &_short {
            width: 135px;
            margin-right: 16px;
        }
        &_full {
            width: 285px;
            margin-right: 28px;
        } 
        &_focus {
            &:focus {
                box-shadow: 0 0 3px $btnColor;
            }
        } 
    }
    &__text {
        @include bottomText;
    }
    &__terms {
        @include linkText;
    }
    &__btn {
        width: 95px;
        height: 35px;
        font-size: 14px;
        display: block;
        margin: 10px 0 0 90px;
        cursor: pointer;
        @include roundBorder;
        transition: background-color .6s linear, color .7s linear, border .7s linear;
        &_orange {
            background-color: $btnColor;
            color: $white;
        }
        &_hover {
            &:hover {
                background-color: $white;
                color: $btnColor;
                border: 1px solid $btnColor;
            }
        }
    }
    &__login {
        @include linkText;
        &_linked {
            font-weight: 900;
        }
    }
    &__about {
        @include linkText;
        font-weight: 200;
    }
}