$containerColor: #F7F7F7;
$lightGrey:#A4A4A4;
$grey: #787878;
$white: #fff;
$inputColor: #f0f0f0;
$btnColor: #FEA15D;

$mainFont: 'Lato', sans-serif;
$mainFontSize: 22px;
$imputFontSize: 14px;
$bottomText: 11px;